{% extends "layout.html" %}
{% block body %}
<h1>Tools running jobs on OGE hosts in the last {{ days }} days</h1>

<table id="stats">
  <tr>
    <th>Total tools that ran jobs</th>
    <td class="number"><var>{{ '{:,d}'.format(tools_count) }}</var></td>
  </tr>
  <tr>
    <th>Total jobs that ran</th>
    <td class="number"><var>{{ '{:,d}'.format(total_seen) }}</var></td>
  </tr>
  <tr>
    <th>Active jobs</th>
    <td class="number"><var>{{ '{:,d}'.format(total_active) }}</var></td>
  </tr>
  <tr>
    <th>Last updated</th>
    <td class="number"><var>{{ generated }}</var></td>
  </tr>
</table>

<img class="graph" src="https://graphite-labs.wikimedia.org/render?title=Toolforge+grid+jobs&yMin=0&width=400&height=200&target=cactiStyle(alias(sumSeries(tools.tools-services-01.sge.hosts.tools-*.job_count),%27jobs%27))&from=-{{ days }}d" width="400" height="200">

<table id="jobs" class="striped">
  <thead>
    <tr>
      <th>Tool</th>
      <th data-sort-method="number">Unique jobs</th>
      <th data-sort-method="number">Active jobs</th>
      <th data-sort-method="number" data-sort-default>Jobs seen</th>
    </tr>
  </thead>
  <tbody>
    {% for name, data in tools|dictsort %}
    <tr>
      <td id="{{ name }}" class="tool-name">
          <a href="{{ url_for('tool', name=name) }}">{{ name }}</a>
      </td>
      <td class="number">{{ data.unique }}</td>
      <td class="number">{{ data.active }}</td>
      <td class="number">{{ data.seen }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/tablesort/5.0.0/tablesort.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/tablesort/5.0.0/src/sorts/tablesort.number.js"></script>
<script>
    new Tablesort(document.getElementById('jobs'), {descending: true});
</script>
{% endblock %}
