{% extends "layout.html" %}
{% block body %}
<h1>Tools running jobs on OGE hosts in the last 7 days</h1>

<p>Total tools that ran jobs: <var>{{ tools|count }}</var></p>
<p>Last updated: <var>{{ generated }}</var></p>

<table id="jobs">
  <thead>
    <tr>
      <th>Tool</th>
      <th>Jobs seen</th>
    </tr>
  </thead>
  <tbody>
    {% for name, job_count in tools|dictsort %}
    <tr>
      <td id="{{ name }}" class="tool-name">
          <a href="{{ url_for('tool', name=name) }}">{{ name }}</a>
      </td>
      <td class="seen">{{ job_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
