{% extends "layout.html" %}
{% block body %}
<h1>Tools running jobs on OGE hosts in the last 7 days</h1>

<p>Total tools that ran jobs: <var>{{ tools|count }}</var></p>
<p>Last updated: <var>{{ generated }}</var></p>

<table id="jobs">
  <thead>
    <tr>
      <th>Tool</th>
      <th>Total seen</th>
      <th>Last seen (exit)</th>
    </tr>
  </thead>
  <tbody>
    {% for tool_name, tool_data in tools|dictsort %}
    <tr>
      <td id="{{ tool_name }}" class="tool-name">
          <a href="{{ url_for('tool', name=tool_name) }}">{{ tool_name }}</a>
      </td>
      <td class="seen">{{ tool_data.jobs|sum(attribute='count') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
