{% extends "layout.html" %}
{% block body %}
<h1>Jobs run by {{ tool_name }} in the last 7 days</h1>

<table id="tool-details">
  <tr>
    <th>Tool</th>
    <td><a href="https://tools.wmflabs.org/?tool={{ tool_name|urlencode }}">{{ tool_name }}</a></td>
  </tr>
  <tr>
    <th>Members</th>
    <td class="members">
      <ul>
        {% for member in tool_data.members %}
        <li><a href="https://tools.wmflabs.org/contact/search/{{ member|urlencode }}">{{ member }}</a></li>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>

<table id="jobs">
  <thead>
    <tr>
      <th>Job</th>
      <th>Total seen</th>
      <th>Active</th>
      <th>Last seen (exit)</th>
    </tr>
  </thead>
  <tbody>
    {% for job, data in tool_data.jobs|dictsort %}
    <tr>
      <td>{{ job }}</td>
      <td class="number">{{ data.count }}</td>
      <td class="number">{{ data.active }}</td>
      <td>{{ data.last }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>Last updated: <var>{{ generated }}</var></p>
{% endblock %}
