{% extends "layout.html" %}
{% block body %}
<h1>Jobs run by {{ tool_name }} in the last 7 days</h1>

<div id="tool-details">
  <dl>
    <dt>Tool</dt>
    <dd><a href="https://tools.wmflabs.org/?tool={{ tool_name|urlencode }}">{{ tool_name }}</a></dd>
    <dt>Members</dt>
    <dd class="members">
      <ul>
        {% for member in tool_data.members %}
        <li><a href="https://tools.wmflabs.org/contact/search/{{ member|urlencode }}">{{ member }}</a></li>
        {% endfor %}
      </ul>
    </dd>
  </dl>
</div>

<table id="jobs">
  <thead>
    <tr>
      <th>Job</th>
      <th>Total seen</th>
      <th>Last seen (exit)</th>
    </tr>
  </thead>
  <tbody>
    {% for job, data in tool_data.jobs|dictsort %}
    <tr>
      <td class="job-name">{{ job }}</td>
      <td class="seen">{{ data.count }}</td>
      <td class="last">{{ data.last }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>Last updated: <var>{{ generated }}</var></p>
{% endblock %}
